@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800&display=swap');

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "M PLUS Rounded 1c", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-orange-50 text-gray-900;
    font-family: var(--font-sans);
  }
}